body{
    margin: 2% 8%; 
    height: 100vh;
    overflow: hidden;
        background: linear-gradient(#b3b9d9,#fbebe4);
        background-blend-mode: screen;
        font-family: sans-serif;
       
}